<div class="row">
<div class="col-xs-12">

  <ngx-datatable
      [count]="rowCount"
      [rows]="rows"
      [columns]="columns"
      [footerHeight]=30
      [limit]=5
      [columnMode]="'force'"
      [rowHeight]="'auto'">
  </ngx-datatable>

  <ng-template #sampleT2 let-row="row" let-value="value" let-i="index">
    <div class="avatar"></div>
  </ng-template>

  <ng-template #sampleT let-row="row" let-value="value" let-i="index">
    <i class="fa fa-pencil" (click)="onEditClick(row)"></i><i class="fa fa-trash" (click)="deleteContact(row)"></i> {{value}}
  </ng-template>

</div>
</div>
