<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Naam</th>
      <th>Adres</th>
      <th>E-mail</th>
      <th>Telefoon</th>
      <th>Fax</th>
      <th>Website</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacten">
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.address}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
      <td>{{contact.fax}}</td>
      <td>{{contact.website}}</td>
      <td><i class="fa fa-pencil tbl-actions"></i>
        <i class="fa fa-trash tbl-actions" (click)="deleteContact(contact)"></i>
      </td>
    </tr>
  </tbody>
</table>
