
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
</head>

  <div class="container">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <img class="logo" src="../assets/images/logo.png" alt="logo" />
    </div>
    <div id="ctrls_container" class="col-xs-2">
      <i class="fa fa-calendar"></i>
      <i class="fa fa-sliders"></i>
    </div>

       <div id="nav_container" class="col-xs-12">
      <nav>
        <a routerLink="/" routerLinkActive="active"><img class="home-icon" src="../assets/images/homeicon.png"/></a>
        <a routerLink="/facturen" routerLinkActive="active"><i class="fa fa-paperclip"></i>Facturen</a>
        <a routerLink="/klanten" routerLinkActive="active"><i class="fa fa-user-o"></i>Klanten</a>
        <a routerLink="/offertes" routerLinkActive="active"><i class="fa fa-paper-plane-o"></i>Offertes</a>
        <a routerLink="/producten" routerLinkActive="active"><i class="fa fa-diamond"></i>Producten</a>
        <a routerLink="/projecten" routerLinkActive="active"><i class="fa fa-folder-open-o"></i>Projecten</a>
        <a routerLink="/contact" routerLinkActive="active"><i class="fa fa-address-book-o"></i>Contacten</a>
      </nav>
    </div>
	
	
    <div id="information" class="col-xs-12">
      <router-outlet></router-outlet>
    </div>


    <!--<div class="col-xs-4">
      <app-actions></app-actions>
    </div>-->
  </div>
