<!--The content below is only a placeholder and can be replaced.-->

  <div class="container">
    <div class="col-xs-8">

      <h1>FlowDeck</h1>
      <nav>
        <a routerLink="/" routerLinkActive="active">Dashboard</a>
        <a routerLink="/bedrijven" routerLinkActive="active">Bedrijven</a>
        <a routerLink="/contacten" routerLinkActive="active">Contacten</a>
        <a routerLink="/facturen" routerLinkActive="active">Facturen</a>
      </nav>
      <router-outlet></router-outlet>

    </div>
    <div class="col-xs-4">
      <app-actions></app-actions>
    </div>
  </div>
