<div class="col-md-12">
  <h2>Nieuw contact toevoegen</h2>
</div>
<form (submit)="contactToevoegen">
  <div class="form-group col-md-6">
    <label for="ci_naam">Naam</label>
    <input [(ngModel)]="contact.naam" type="text" class="form-control" name="naam" id="ci_naam" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="ci_voornaam">Voornaam</label>
    <input [(ngModel)]="contact.voornaam" type="text" class="form-control" name="voornaam" id="ci_voornaam" placeholder="">
  </div>
  <div class="form-group col-md-8">
    <label for="ci_straat">Straat</label>
    <input [(ngModel)]="contact.straat" type="text" class="form-control" name="straat" id="ci_straat" placeholder="">
  </div>
  <div class="form-group col-md-4">
    <label for="ci_huisnummer">Huisnummer</label>
    <input [(ngModel)]="contact.huisnummer" type="text" class="form-control" name="huisnummer" id="ci_huisnummer" placeholder="">
  </div>
  <div class="form-group col-md-8">
    <label for="ci_stad">Stad</label>
    <input [(ngModel)]="contact.stad" type="text" class="form-control" name="stad" id="ci_stad" placeholder="">
  </div>
  <div class="form-group col-md-4">
    <label for="ci_postcode">Postcode</label>
    <input [(ngModel)]="contact.postcode" type="text" class="form-control" name="postcode" id="ci_postcode" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="ci_provincie">Provincie</label>
    <input [(ngModel)]="contact.provincie" type="text" class="form-control" name="provincie" id="ci_provincie" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="ci_land">Land</label>
    <input [(ngModel)]="contact.land" type="text" class="form-control" name="land" id="ci_land" placeholder="">
  </div>
  <div class="form-group col-md-12">
    <label for="ci_email">E-mailadres</label>
    <input [(ngModel)]="contact.email" type="email" class="form-control" name="email" id="ci_email" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="ci_telefoon">Telefoon</label>
    <input [(ngModel)]="contact.telefoon" type="text" class="form-control" name="telefoon" id="ci_telefoon" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="ci_fax">Fax</label>
    <input [(ngModel)]="contact.fax" type="text" class="form-control" name="fax" id="ci_fax" placeholder="">
  </div>
  <div class="form-group col-md-12">
    <label for="ci_website">Website</label>
    <input [(ngModel)]="contact.website" type="text" class="form-control" name="website" id="ci_website" placeholder="">
  </div>
  <div class="col-md-6">
  <button type="submit" class="btn btn-primary">Toevoegen</button>
  </div>
</form>
