@font-face {
    font-family: "Varela Round";
    src: url(VarelaRound-Regular.ttf);
}

body{
	background-color:fafafa;
	color:#1e1e1e;
	font-family: "Varela Round";
	overflow-x: hidden;
}

.container{width:100%;
padding:0;}

h1{display:inline-block; float:left; margin-bottom:40px; padding-top:5px;}

.logo{
	height:60px;
	margin-top: 42px;
	margin-left:37%;
}

.home-icon{
	height:21px;
margin-left:-4%;
}

h1{
  margin-top: 50px;
  text-align: center;
}

#nav_container{
  text-align: center;
  margin-top: 30px;
  background-color: #E9CF37;
}

.ctrls_container{
  text-align: right;
  padding-top: 55px;
  padding-left: 0;
  padding-right: 0;
}

.ctrls_container i{
  line-height: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.ctrls_container i:hover{
 background-color:#444444;
 color:white;
 cursor: pointer;
}

nav{
  display: inline-block;
  background-color: #EAD11B;
  width:100%;
  height: 55px;
  text-align: center;
  line-height: 55px; /* Same as height */
  vertical-align: middle;
}

nav a{
  padding: 0.5%;
  color: #1e1e1e;
  margin: 3%;
}

nav a:hover{
	text-decoration: none;
	color:white;
	}

nav a .fa{margin-right:20px; font-size:18px; }

h2{
  margin-top: 100px;
}

.ngx-datatable .fa{
  color: #D2D2D2;
  padding: 5px;
  font-size: 16px;
}

.ngx-datatable .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D2D2D2;
}

.ngx-datatable .fa:hover{
  cursor: pointer;
  color: #333;
}

.ngx-datatable{
  margin-top:50px;
  margin-bottom: 100px;
}

.ngx-datatable .datatable-body{
  padding: 0 1px;
}

.datatable-body-row{
  box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
}

.datatable-body-cell{
  border: none;
}

.datatable-body-cell-label{
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.datatable-header-cell{
  border: none;
  color: #989EA6;
}

.datatable-header-cell.sort-active{
  color: #1e1e1e;
}

.datatable-body-cell:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
}

.datatable-body-cell:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 20px;
}

.pages a{
  color: #D2D2D2;
}

.pages.active a{
  color: #333;
}

.pager li>a, .pager li>span, .pager .disabled>a{
  background-color: transparent;
  border: none;
}

.datatable-icon-right, .datatable-icon-left, .datatable-icon-prev, .datatable-icon-skip{
  vertical-align: -2px;
}

.tbl-actions{
  padding: 0 10px;
  margin-left: -10px;
}

.tbl-actions:hover{
  cursor: pointer;
}

.pagename{display:block; float:left;}

.change-menu .ctrls_container{ display:block; float:right;}

.fa-plus{background-color:#EAD11B; color:white; width:100px;}

.ctrls_container .fa-plus:hover {background-color:#EAD11B; margin-left:-70px; width:51%}

.plustext{display:none; float: right; font-weight: bold; font-family: "Varela Round"; padding:0; margin-top:-1px; margin-left:2px;}

#information{
  background-color: #F8F9FA;
}

#wrapper{
position:fixed;
height:100%;
width:100%;
background-color:#1e1e1e;
z-index:1;
opacity: 0.3;
display:none;
}


.fa-sliders{
  margin-right: 15px;
}

.sn-container{display:block; padding-right:8%; margin-left:5%; position:absolute; width:100%;padding-bottom:50px;}

.sn-body{
	display:none;
	padding-bottom:200px;
	}

#sn-close{display:block; float:right; font-size:30px; cursor:pointer; margin-top:40px; margin-right:4%; opacity:0;}
#sn-close:hover{color:#a50e1b;}
#sn-title{margin-top:40px; margin-bottom:40px; display:block; float:left; margin-left:2%}

.btn-primary{background-color:#3a3a3a; color:white; width:80%; margin-left:auto; margin-right:auto;}
.btn-primary:hover{background-color:#545454; color:white;}
